{% extends "meat_section/layout.html" %}
{% load static %}

{% block title %}Список секцій{% endblock %}

{% block content %}
<div class="title"><p>Sections</p></div>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Position</th>
        <th>Is required sale licence</th>
        <th>Open time</th>
        <th>Close time</th>
    </tr>
    {% for section in sections %}
    <tr>
        <td>{{ section.title }}</td>
        <td>{{ section.position }}</td>
        <td>{{ section.is_required_sale_license }}</td>
        <td>{{ section.open_time }}</td>
        <td>{{ section.close_time }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="5">No sections available.</td></tr>
    {% endfor %}
</table>
{% endblock %}