<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}bazar app :){% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bazar/css/layout.css' %}">
    <meta name="viewport" content="width=1280, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
    <header>
        <div class="header">
            <h1>bazar app :)</h1>
            <nav>
                {% block nav %}
                {% if user.is_authenticated %}
                <a href="{% url 'section_view' %}">Sections</a>
                <a href="{% url 'product_view' %}">Products</a>
                {% endif %}
                {% endblock %}
                {% include 'accounts/nav_layout.html' %}
                {% if user.is_authenticated %}
                <div class="cart_button">Cart</div>
                {% endif %}
            </nav>
        </div>
    </header>
    <main>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div class="messages_block">
            {% if messages %}
            {% for message in messages %}
            <p class="{{ message.tags }}">{{ message }}</p>
            {% endfor %}
            {% endif %}
        </div>
        {% if user.is_authenticated %}
        <div id="cart" style = "visibility: hidden;">
            <script nonce="{{ request.csp_nonce }}">
                fetch("{% url 'get_cart' %}")
                    .then(response => response.text())
                    .then(html => {
                        document.getElementById("cart").innerHTML = html;
                    });
            </script>

            <p>Loading cart...</p>
        </div>
        {% endif %}
    </main>
    <script src="{% static 'bazar/js/layout.js' %}" nonce="{{ request.csp_nonce }}"></script>
    <footer>
        <p>Pogrebnyuk &copy;2025</p>
    </footer>
</body>

</html>