.profile_header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

}

.profile_header .left img{
    width: 190px;
    height:190px;
    margin-right: 20px;
    border: 3px solid #333;  
    border-radius: 15px;
}

.title p{
    text-align: center;
    margin: auto;
}