{% extends "bazar/layout.html" %}
{% load static %}

{% block title %}Детальний перегляд з таблиці Продукти{% endblock %}

{% block content %}
<div>
    <div class="detail_block">
        <div class="title">{{ product.title }}</div>
        <div class="category">Category: {{ product.category }}</div>
        <div class="price">Price: {{ product.price }}$</div>
        <div class="qty">Quantity: {{ product.product_qty }}</div>
        <div class="desc_title">Description:</div>
        <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, qui, pariatur tempora
            itaque perferendis
            dignissimos fugit beatae ullam minus laborum eveniet adipisci eius enim, quo architecto? Quae rem provident
            cumque!</div>
        <div class="manage_buttons">
            <form method="post" action="{% url 'add_to_cart' product.slug %}">
                {% csrf_token %}
                <button type="submit">Add to cart</button>
            </form>
            <a href="{% url 'product_update' product.slug %}"><button>Update</button></a>
            <a href="{% url 'product_delete' product.slug %}"><button>Delete</button></a>
        </div>
        <div class="return_to_table"><a href="{% url 'product_view' %}">Back to products</a></div>
    </div>
</div>
{% endblock %}